<md-toolbar layout="row" aria-label="navbar">
    <h1 flex="100" layout="column" layout-align="none center"><img class="logo" height="40" width="200" id="Image1" ng-src="{{'images/branding/logo.png'}}" ui-sref="index"></h1>
</md-toolbar>

<div layout="column" layout-align="center center" style="margin-top: 6em">
    <h1 class="gray-color">Reset Password</h1>
    <form name="resetPasswordForm" id="resetPasswordForm" class="md-block" flex="20">
        <md-input-container class="md-block">
            <label>New Password</label>
            <input type="password" ng-model="data.password" name="psw" ng-minlength="6" aw-password required ng-enter="reset()">
            <div ng-messages="resetPasswordForm.psw.$error">
                <div ng-message="required">You must inform a new password</div>
                <div ng-message="minlength">Must have at least 6 characters</div>
                <div ng-message="password">Must have letters and digits, <br/>at least one non letter or digit character <br/>and at least one uppercase ('A'-'Z')</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Confirm New Password</label>
            <input type="password" ng-model="data.confirmPassword" name="confirm" aw-match="data.password" required ng-enter="reset()">
            <div ng-messages="resetPasswordForm.confirm.$error">
                <div ng-message="match">The passwords do not match</div>
                <div ng-message="required">You must confirm the new password</div>
            </div>
        </md-input-container>
        <section layout="column" layout-align="center center">
            <md-button class="md-raised" ng-click="reset()">Reset</md-button>
        </section>
    </form>
</div>