<md-dialog aria-label="forgot_password" class="width-30 max-width-30">
    <md-toolbar layout="row" layout-align="center center">
        Forgot Your Password?
    </md-toolbar>
    <md-dialog-content ng-cloak>
        <form name="forgotPasswordForm" id="forgotPasswordForm" layout="row" layout-align="center center" style="width: 100%" novalidate>
            <md-input-container flex-gt-sm="80" flex-sm="40" flex="80" class="md-block">
                <label>Your username</label>
                <input type="email" name="username" ng-model="data" required ng-enter="send()"/>
                <div ng-messages="forgotPasswordForm.username.$error">
                    <div ng-message="required">Username is required</div>
                    <div ng-message="email">Not a valid email</div>
                </div>
            </md-input-container>
        </form>
        <small class="gray-color" align="center"><strong>The instructions to retrieve your password will be send in your email</strong></small>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" ng-click="close()">Close</md-button>
        <md-button class="md-primary" ng-click="send()">Send</md-button>
    </md-dialog-actions>
</md-dialog>