<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="audaxware_offlineConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}\audaxware_offline.accdb;Persist Security Info=True;Jet OLEDB:Database Password=My_test_Jose1!" providerName="System.Data.OleDb" />
        <add name="audaxware_offlineRestApiAddress" connectionString="https://main.audaxware.com/xPlannerAPI" />
    </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>