<md-dialog aria-label="change_password" class="width-40">
    <md-toolbar layout="row" layout-align="center center">
        Change Password
    </md-toolbar>
    <md-dialog-content ng-cloak>
        <form name="changePasswordForm" id="changePasswordForm" layout="column" layout-align="center center" novalidate>
            <md-input-container class="md-block" style="width: 15em;">
                <label>Current Password</label>
                <input type="password" ng-model="data.oldPassword" name="current_psw" required ng-enter="change()">
                <div ng-messages="changePasswordForm.current_psw.$error">
                    <div ng-message="required">You must inform your current password</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" style="width: 15em;">
                <label>New Password</label>
                <input type="password" ng-model="data.newPassword" name="psw" ng-minlength="6" aw-password required ng-enter="change()">
                <div ng-messages="changePasswordForm.psw.$error">
                    <div ng-message="required">You must inform a new password</div>
                    <div ng-message="minlength">Must have at least 6 characters</div>
                    <div ng-message="password">Must have letters and digits, <br />at least one non letter or digit character <br />and at least one uppercase ('A'-'Z')</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" style="width: 15em;">
                <label>Confirm New Password</label>
                <input type="password" ng-model="data.confirmPassword" name="confirm" aw-match="data.newPassword" required ng-enter="change()">
                <div ng-messages="changePasswordForm.confirm.$error">
                    <div ng-message="match">The passwords do not match</div>
                    <div ng-message="required">You must confirm the new password</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" ng-click="close()">Close</md-button>
        <md-button class="md-primary" ng-click="change()">Change</md-button>
    </md-dialog-actions>
</md-dialog>