<md-dialog aria-label="add option" class="max-width-50 width-50">
    <md-toolbar layout="row" layout-align="center center">
        {{isEdit ? 'Edit' : 'Add'}} Option
    </md-toolbar>
    <md-dialog-content layout-padding ng-cloak>
        <aw-add-option option="option" ctrl="optionCtrl" asset-info="params"></aw-add-option>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-wrap ng-cloak>
        <md-button class="md-primary" ng-click="close()">Close</md-button>
        <md-button class="md-primary" ng-click="saveOption()">{{isEdit ? 'Save' : 'Add'}}</md-button>
    </md-dialog-actions>
</md-dialog>