<md-dialog aria-label="make available to project" ng-cloak flex-gt-xs="30">
    <md-toolbar layout="row" layout-align="center center">
        Assign Project
    </md-toolbar>
    <md-dialog-content layout-padding ng-cloack>
        <form name="assignProjectForm" id="assignProjectForm">
            <md-input-container class="md-block">
                <label>Project</label>
                <md-select ng-model="projectSelected" required>
                    <md-option name="project" ng-repeat="proj in projects" ng-value="proj">
                        {{proj.project_description}}
                    </md-option>
                    <div ng-messages="assignProjectForm.project.$error">
                        <div ng-message="required">Project is required</div>
                    </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-primary" ng-click="close()">Close</md-button>
        <md-button class="md-primary" ng-click="assign()">Assign</md-button>
    </md-dialog-actions>
</md-dialog>