<md-dialog aria-label="license_agreement">
    <md-toolbar layout="row" layout-align="center center">
        Audaxware Software End User License Agreement
    </md-toolbar>
    <md-dialog-content style="padding-top: 2em;" layout-align="center center" ng-cloak>
            <md-input-container class="md-block" flex="100">
                    <p class="MsoNormal">
                        Thank you for using Audaxware software and services. Please review this entire Audaxware Software
                        End User License Agreement (“Agreement”) thoroughly. This Agreement is a legal agreement between
                        you and Audaxware. By clicking "I AGREE," indicating acceptance electronically, accessing or using the
                        Software, you agree to these terms and consent to the transmission of certain information during
                        activation and for internet-based features of the software/service. If you do not agree to this
                        Agreement, then do not indicate acceptance of the Agreement and you must not use the software.
                    </p>
                    <h3>1. Agreement</h3>
                    <p class="MsoNormal">
                        1.1 This Agreement describes the terms governing your use of the Audaxware Software including

                        content, updates and new releases (collectively, the "Software") and gives you certain rights and

                        responsibilities depending on the software license you selected, purchased or subscribed to, as more

                        fully described herein.
                    </p>
                    <p class="MsoNormal">
                        This Supplement is the entire agreement for the service and
                        software and services, unless Audaxware provides other terms with supplements,
                        updates, or services. You understand that by using the software and service,
                        you accept this Agreement.
                    </p>

                    <h3>2. License Grant and Acceptable Use Policy</h3>

                    <p class="MsoNormal">
                        2.1 The Software is protected by copyright, trade secret,
                        and other intellectual property laws. You are only granted certain limited
                        rights to install and use the Software, and Audaxware reserves all other rights
                        in the Software not granted to you in writing herein. As long as you meet any
                        applicable payment obligations and comply with this Agreement, Audaxware grants
                        you a limited, nonexclusive, nontransferable, revocable license to use the
                        Software only for the period of use provided in the ordering and activation
                        terms, as set forth in this Agreement, or in accordance with Audaxware
                        then-current product discontinuation policies, as updated from time to time,
                        and only for the purposes described by Audaxware for the Software.
                    </p>

                    <p class="MsoNormal">
                        2.2 You acknowledge and agree that the Software is licensed,
                        not sold. Neither you nor those that access the Software and Services through
                        you may use it in a way prohibited by law, regulation, governmental order or
                        decree. Furthermore, you agree you will not:
                    </p>

                    <p class="MsoNormal">
                        •Provide access to or give the Software or any part of the
                        Software to any third party;
                    </p>

                    <p class="MsoNormal">
                        •Reproduce, duplicate, copy, reverse-engineer, sell, trade
                        or resell the Software;
                    </p>

                    <p class="MsoNormal">•Transfer your license to the Software to any other party;</p>

                    <p class="MsoNormal">
                        •Attempt unauthorized access to any other Audaxware systems
                        that are not part of the Software;
                    </p>

                    <p class="MsoNormal">
                        •Permit any third party to benefit from the use or
                        functionality of the Software via a rental, lease, timesharing, service bureau,
                        hosting service, or other arrangement; or
                    </p>

                    <p class="MsoNormal">
                        •Upload, host, use or access the Software via a timesharing,
                        service bureau, virtualization, application hosting or other remote access
                        arrangement.
                    </p>

                    <p class="MsoNormal">
                        If you violate any of these terms, this Agreement and your
                        license to use the Software may be terminated by Audaxware in its sole
                        discretion.
                    </p>

                    <p class="MsoNormal">2.3. Export Restrictions</p>

                    <p class="MsoNormal">
                        You acknowledge that this website, the Software, and the
                        underlying software may include U.S. technical data subject to restrictions
                        under export control laws and regulations administered by the United States
                        government. You agree that you will comply with these laws and regulations, and
                        will not export or re-export the Software, or any part of the Software, in
                        violation of these laws and regulations, directly or indirectly. You also agree
                        not to provide access to any part of the Software to anyone who you have reason
                        to know may use the Software in the development of weapons or for any end that
                        can pose a threat for the United States safety.
                    </p>

                    <p class="MsoNormal">
                        By accepting this Agreement you confirm that you are not
                        located in (or a national resident of) any country under U.S. economic embargo,
                        not identified on any U.S. Department of Commerce Denied Persons List, Entity
                        List or Treasury Department Designated Nationals exclusion list, and not
                        directly or indirectly involved in the development or production of nuclear,
                        chemical, biological weapons or in missile technology programs as specified in
                        the U.S. Export Administration Regulations. You may not export, re-export, or
                        otherwise transfer this Software or any copy or adaptation in violation of any
                        applicable laws or regulations, to persons or entities listed on the U.S.
                        Department of Commerce Denied Persons List, Entity List, or on any U.S.
                        Treasury Department Designated Nationals exclusion list, or to parties directly
                        or indirectly involved in the development or production of nuclear, chemical,
                        biological weapons or in missile technology programs as specified in the U.S.
                        Export Administration Regulations.
                    </p>

                    <p class="MsoNormal">
                        Without limiting the generality of the foregoing, software,
                        technology or services provided under this license agreement may not be
                        exported, re-exported, transferred or downloaded to or within (or to a national
                        resident of) countries under U.S. economic embargo.
                    </p>

                    <h3>3. Payment</h3>

                    <p class="MsoNormal">
                        For Software licensed on a payment or subscription basis,
                        the following terms apply, unless Audaxware notifies you otherwise in writing.
                        This Agreement also incorporates by reference and includes program ordering and
                        payment terms provided to you for the Software:
                    </p>

                    <p class="MsoNormal">
                        a. Payments will be billed to you in U.S. dollars, and your
                        account will be debited when you subscribe and provide your payment
                        information.
                    </p>

                    <p class="MsoNormal">&nbsp;</p>

                    <p class="MsoNormal">
                        b. If your payment and registration information is not
                        accurate, current and complete, and you do not notify us promptly when such
                        information changes, we may immediately suspend or terminate your account,
                        terminate your license and refuse any further use of the Software.
                    </p>

                    <p class="MsoNormal">
                        c. Audaxware will automatically renew your annual
                        subscription at the then-current rates, as required for you to maintain access
                        to the Software, unless your license to the Software is cancelled or terminated
                        under this Agreement.
                    </p>

                    <p class="MsoNormal">
                        d. Additional cancellation or renewal terms may be provided
                        to you.
                    </p>

                    <h3>4. Trial version and Beta features</h3>

                    <p class="MsoNormal">
                        If you registered for a trial use of the Software
                        (&quot;Trial Period&quot;), the content you have created within the Software
                        data file, posted or uploaded during the Trial Period may no longer be
                        available to you.
                    </p>

                    <h3>5. Your privacy and personal information</h3>

                    <p class="MsoNormal">
                        To give Audaxware permission to combine information you
                        enter or upload in a way that does not identify you personally with that of
                        other users of the Software. In other words, this means that Audaxware may use
                        that non-identifiable aggregated data to improve services, design promotions,
                        or provide ways for you to compare business practices with other users.
                    </p>

                    <p class="MsoNormal">
                        Audaxware may access or store information in multiple
                        countries. When you agree to this Agreement, you agree to this practice.
                    </p>

                    <h3>6. Content</h3>

                    <p class="MsoNormal">
                        6.1 You are responsible for your content. You are legally
                        responsible for all information, data, text, software, music, sound,
                        photographs, graphics, video, messages or other materials (&quot;Content&quot;)
                        uploaded, posted or stored through your use of the Software. You grant Audaxware
                        a worldwide, royalty-free, non-exclusive license to host and use any Content
                        provided through your use of the Software. You agree not to use the Software
                        for any illegal purpose or in violation of any applicable local, state, federal
                        or international law. You are encouraged to archive your Content regularly and
                        frequently. You are responsible for any Content that may be lost or
                        unrecoverable through your use of the Software. You agree that you will not use
                        the Software to share, store, or in any way distribute financial data that is
                        not in accordance with the law. Any users suspected of having information which
                        involves fraud, embezzlement, money laundering, insider trading, support for
                        terrorism, or any other activity proscribed by law may have their accounts
                        terminated, their data erased, and they also may be reported to law enforcement
                        officials in the appropriate jurisdictions. Audaxware is not responsible for
                        the Content or data you provide through your use of the Software.
                    </p>

                    <p class="MsoNormal">
                        You agree not to use the Software to upload, post,
                        distribute, link to, publish, reproduce, engage in or transmit any of the
                        following, including but not limited to:
                    </p>

                    <p class="MsoNormal">&nbsp;</p>

                    <p class="MsoNormal">
                        Illegal, fraudulent, libelous, defamatory, obscene,
                        pornographic, profane, threatening, abusive, hateful, harassing, offensive,
                        inappropriate or objectionable information or communications of any kind, including
                        without limitation conduct that would encourage or constitute an attack or
                        &quot;flaming&quot; others, or criminal or civil liability under any local,
                        state, federal or foreign law;
                    </p>

                    <p class="MsoNormal">
                        Content or data that would impersonate someone else or
                        falsely represent your identity or qualifications, or that constitutes a breach
                        of any individual's privacy, including posting images about children or any
                        third party without their consent (or a parent's consent in the case of a
                        minor);
                    </p>

                    <p class="MsoNormal">
                        Except as otherwise permitted by Audaxware in writing,
                        advertisements, solicitations, investment opportunities, chain letters, pyramid
                        schemes, other unsolicited commercial communication or engage in spamming or
                        flooding;
                    </p>

                    <p class="MsoNormal">
                        Virus, trojan horse, worm or other disruptive or harmful
                        software or data; and
                    </p>

                    <p class="MsoNormal">
                        Any information, software or Content which is not legally
                        yours and may be protected by copyright or other proprietary right, or
                        derivative works, without permission from the copyright owner or intellectual
                        property rights owner.
                    </p>

                    <p class="MsoNormal">
                        6.2 Community forums. The Software may include access to a
                        community forum to exchange information with other users of the Software and
                        the public. Please use respect when you interact with other users. Audaxware
                        does not support and is not responsible for the accuracy of others' content in
                        these community forums. Do not reveal information in the community forum that
                        you do not want to make public. Users may post hypertext links to content
                        hosted and maintained by third parties for which Audaxware is not responsible.
                    </p>

                    <p class="MsoNormal">&nbsp;</p>

                    <p class="MsoNormal">
                        Audaxware may, but has no obligation to, monitor Content
                        provided on the community forum. We may disclose any information necessary or
                        appropriate to satisfy our legal obligations, protect Audaxware or its
                        customers, or operate the Software properly. Audaxware, in its sole discretion,
                        may refuse to post, remove, or refuse to remove, any Content, in whole or in
                        part, alleged to be unacceptable, undesirable, inappropriate, or in violation
                        of this Agreement.
                    </p>

                    <p class="MsoNormal">&nbsp;</p>

                    <p class="MsoNormal">
                        6.3 Audaxware may freely use feedback you provide. You agree
                        that Audaxware may use your feedback, suggestions, or ideas in any way,
                        including in future modifications of the Software, other products or services,
                        advertising or marketing materials. You grant Audaxware a perpetual, worldwide,
                        fully transferable, sub-licensable, irrevocable, fully paid-up, royalty free
                        license to use the feedback you provide to Audaxware in any way.
                    </p>

                    <h3>7. Additional Terms</h3>

                    <p class="MsoNormal">
                        7.1 Audaxware does not give professional advice. Audaxware
                        is not in the business of providing project planning, legal, financial,
                        accounting, health care, real estate or other professional services or advice.
                        Consult the services of a competent professional when you need this type of
                        assistance.
                    </p>

                    <p class="MsoNormal">
                        7.2 We may tell you about other Audaxware services. You may
                        be offered other services, features, products, applications, online
                        communities, or promotions provided by Audaxware. If you decide to use any of
                        these Audaxware Product or Services, additional terms and conditions and
                        separate fees may apply. You acknowledge that in accessing some Audaxware
                        Services you may upload or enter data such as names, addresses and phone
                        numbers, purchases, and other data to the Internet. You grant Audaxware
                        permission to use information you provide and about your experience so that we
                        can provide the Audaxware Services to you, monitor and analyze your use of the
                        services, maintain and update your data, and address errors or service
                        interruptions. We may use this data to improve services, enhance future
                        services, identify potentially relevant offers, and produce anonymous research
                        data. You grant Audaxware permission to combine the data you have entered or
                        uploaded with that of others in a way that does not identify you or any
                        individual personally. You also grant Audaxware permission to share or publish
                        summary results relating to such research data and to distribute or license
                        such data to third parties.
                    </p>

                    <p class="MsoNormal">
                        7.3 We may tell you about third party products or services. Audaxware
                        may offer products and services on behalf of third parties who are not affiliated
                        with Audaxware (&quot;Third Party Products&quot;) or the Software may contain
                        links to third party websites (&quot;Third Party Sites&quot;).You agree that Audaxware
                        can use your contact information, including name and address, for the purpose
                        of offering these products to you in accordance with your stated Audaxware
                        contact preferences. If you decide to use any Third Party Products or access
                        any Third Party Sites, you are responsible for reviewing the third party's
                        separate product terms, website terms and privacy policies. You agree that the
                        third parties, and not Audaxware, are responsible for their product's
                        performance and the content on their websites. Audaxware is not affiliated with
                        these Third Party Products or Third Party Sites and has no liability for them.
                    </p>

                    <p class="MsoNormal">
                        7.4 Communications choices. Audaxware may be required by law
                        to send you communications about the Software or Third Party Products. You
                        agree that Audaxware may send these communications to you via email or by
                        posting them on one of our sponsored websites. We may also send business
                        communications such as confirmations or notices, which will be delivered to you
                        via email or posted on our websites. You are required to receive these
                        communications. You can choose not to receive some types of communication, such
                        as marketing messages.
                    </p>

                    <p class="MsoNormal">
                        7.5 You will track your passwords and accept updates. You
                        are responsible for securely managing your password(s) for access to the
                        Software. If you become aware of any unauthorized access to your Software
                        account, theft or loss of your password, you agree to contact Audaxware as soon
                        as possible. The Software may periodically be updated with tools, utilities,
                        improvements, third party applications, or general updates to improve and
                        enhance the features and performance of the Software.
                    </p>

                    <h3>8. Disclaimer of Warranties</h3>

                    <p class="MsoNormal">
                        8.1 YOUR USE OF THE SOFTWARE AND CONTENT ACCESSIBLE THROUGH
                        THE SOFTWARE IS ENTIRELY AT YOUR OWN RISK. EXCEPT AS DESCRIBED IN THIS
                        AGREEMENT, THE SOFTWARE IS PROVIDED &quot;AS IS.&quot; TO THE MAXIMUM EXTENT
                        PERMITTED BY APPLICABLE LAW, AUDAXWARE, ITS AFFILIATES, AND ITS THIRD PARTY
                        SERVICE OR DATA PROVIDERS, LICENSORS, DISTRIBUTORS OR SUPPLIERS (COLLECTIVELY
                        REFERRED TO AS, &quot;SUPPLIERS&quot;) DISCLAIM ALL WARRANTIES, EXPRESS OR
                        IMPLIED, INCLUDING ANY WARRANTY THAT THE SOFTWARE IS FIT FOR A PARTICULAR
                        PURPOSE, TITLE, MERCHANTABILITY, DATA LOSS, NON-INTERFERENCE WITH OR
                        NON-INFRINGEMENT OF ANY INTELLECTUAL PROPERTY RIGHTS, OR THE ACCURACY,
                        RELIABILITY, QUALITY OR CONTENT IN OR LINKED TO THE SOFTWARE. AUDAXWARE AND ITS
                        AFFILIATES AND SUPPLIERS DO NOT WARRANT THAT THE SOFTWARE IS SECURE, FREE FROM
                        BUGS, VIRUSES, INTERRUPTION, ERRORS, THEFT OR DESTRUCTION. FURTHER, AUDAXWARE
                        DOES NOT WARRANT ACCESS TO THE INTERNET OR TO ANY OTHER SERVICE, CONTENT OR
                        DATA TRANSMITTED THROUGH THE SOFTWARE. IF THE EXCLUSIONS FOR IMPLIED WARRANTIES
                        DO NOT APPLY TO YOU, ANY IMPLIED WARRANTIES ARE LIMITED TO 30 DAYS FROM THE
                        DATE OF PURCHASE OR DELIVERY OF THE SERVICES, WHICHEVER IS SOONER.
                    </p>

                    <p class="MsoNormal">
                        8.2 AUDAXWARE AND ITS AFFILIATES AND SUPPLIERS DISCLAIM ANY
                        REPRESENTATIONS OR WARRANTIES THAT YOUR USE OF THE SOFTWARE WILL SATISFY OR
                        ENSURE COMPLIANCE WITH ANY LEGAL OBLIGATIONS OR LAWS OR REGULATIONS. YOU ARE
                        SOLELY RESPONSIBLE FOR ENSURING THAT YOUR USE OF THE SOFTWARE IS IN ACCORDANCE
                        WITH APPLICABLE LAW
                    </p>

                    <h3>9. Limitation of Liability and Indemnity</h3>

                    <p class="MsoNormal">
                        TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE
                        ENTIRE LIABILITY OF AUDAXWARE, AND ITS AFFILIATES AND SUPPLIERS FOR ALL MATTERS
                        OR CLAIMS RELATING TO THIS AGREEMENT SHALL BE LIMITED TO THE AMOUNT YOU PAID
                        FOR THE SOFTWARE DURING THE LAST MONTH PRIOR TO SUCH CLAIM. SUBJECT TO
                        APPLICABLE LAW, AUDAXWARE AND ITS AFFILIATES AND SUPPLIERS ARE NOT LIABLE FOR
                        ANY OF THE FOLLOWING: (A) INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR
                        CONSEQUENTIAL DAMAGES; (B) DAMAGES RELATING TO FAILURES OF TELECOMMUNICATIONS,
                        THE INTERNET, ELECTRONIC COMMUNICATIONS, CORRUPTION, SECURITY, LOSS OR THEFT OF
                        DATA, VIRUSES, SPYWARE, LOSS OF BUSINESS, REVENUE, PROFITS OR INVESTMENT, OR
                        USE OF SOFTWARE OR HARDWARE THAT DOES NOT MEET AUDAXWARE SYSTEMS REQUIREMENTS.
                        THE ABOVE LIMITATIONS APPLY EVEN IF AUDAXWARE AND ITS AFFILIATES AND SUPPLIERS
                        HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THIS AGREEMENT SETS FORTH
                        THE ENTIRE LIABILITY OF AUDAXWARE, ITS AFFILIATES AND YOUR EXCLUSIVE REMEDY
                        WITH RESPECT TO THE SOFTWARE AND ITS USE.
                    </p>

                    <p class="MsoNormal">
                        You agree to indemnify and hold Audaxware and its Affiliates
                        and Suppliers harmless from any and all claims, liability and expenses,
                        including reasonable attorneys' fees and costs, arising out of your use of the
                        Software or breach of this Agreement (collectively referred to as
                        &quot;Claims&quot;). Audaxware reserves the right, in its sole discretion and
                        at its own expense, to assume the exclusive defense and control of any Claims.
                        You agree to reasonably cooperate as requested by Audaxware in the defense of
                        any Claims.
                    </p>

                    <h3>10. Changes to this Agreement of the software</h3>

                    <p class="MsoNormal">
                        We may change this Agreement from time to time, and the
                        changes will be effective when posted on our website for the Software or when
                        we notify you by other means. Please review the Agreement periodically on the
                        website for changes. We have the right to change any of the terms of this
                        Agreement. We may also change or discontinue the Software, in whole or in part,
                        including but not limited to, any feature or aspect of the Software, Internet
                        based services, pricing, technical support options, and other product-related
                        policies. Your continued use of the Software after Audaxware posts or otherwise
                        notifies you of any changes, indicates your agreement to the changes.
                    </p>

                    <h3>11. Termination</h3>

                    <p class="MsoNormal">
                        Audaxware may immediately and without notice terminate this
                        Agreement or suspend or terminate the license to the Software if you fail to
                        comply with these terms, default in payment, or if you no longer agree to
                        receive electronic communications. Upon any termination you must immediately
                        stop using and delete or destroy all copies of the Software and any outstanding
                        payments will become due. Any termination of this Agreement shall not affect Audaxware's
                        rights to any payments due to it. &quot;). Upon termination, the content you
                        have created within the Software, posted or uploaded during any period may no
                        longer be available to you. Audaxware may terminate a free account at any time.
                        Other requirements regarding termination or cancellation of your license to the
                        Software may apply based on the specific ordering or activation terms for the
                        Software. Application sections of this agreement, in Audaxware sole discretion,
                        will survive and remain in effect even if the Agreement is terminated,
                        cancelled or rescinded.
                    </p>

                    <h3>12. Export restrictions</h3>

                    <p class="MsoNormal">
                        You acknowledge that this website, the Software, and the
                        underlying software may include U.S. technical data subject to restrictions
                        under export control laws and regulations administered by the United States
                        government. You agree that you will comply with these laws and regulations, and
                        will not export or re-export the Software, or any part of the Software, in
                        violation of these laws and regulations, directly or indirectly. You also agree
                        not to provide access to any part of the Software to anyone who you have reason
                        to know may use the Software in the development of nuclear, chemical, or
                        biological weapons.
                    </p>

                    <h3>13. Governing Laws</h3>

                    <p class="MsoNormal">
                        Texas state law governs this Agreement without regard to its
                        conflicts of laws provisions.
                    </p>

                    <h3>14. Disputes</h3>

                    <p class="MsoNormal">
                        AUDAXWARE MAY, IN ITS SOLE DISCRETION, CHOSE TO RESOLVE ANY
                        DISPUTE OR CLAIM RELATING IN ANY WAY TO THE AUDAXWARE SOFTWARE OR THIS
                        AGREEMENT BY BINDING ARBITRATION, RATHER THAN IN COURT. The Federal Arbitration
                        Act governs the interpretation and enforcement of this provision; the
                        arbitrator shall apply Texas law to all other matters. Notwithstanding anything
                        to the contrary, any party to the arbitration may at any time seek injunctions
                        or other forms of equitable relief from any court of competent jurisdiction. BY
                        ENTERING INTO THIS AGREEMENT AND AGREEING TO ARBITRATION, YOU AGREE THAT YOU
                        AND AUDAXWARE ARE EACH WAIVING THE RIGHT TO FILE A LAWSUIT AND THE RIGHT TO A
                        TRIAL BY JURY. IN ADDITION, YOU AGREE TO WAIVE THE RIGHT TO PARTICIPATE IN A
                        CLASS ACTION OR LITIGATE ON A CLASS-WIDE BASIS. YOU AGREE THAT YOU HAVE
                        EXPRESSLY AND KNOWINGLY WAIVED THESE RIGHTS.
                    </p>

                    <p class="MsoNormal">
                        To begin an arbitration proceeding, send a letter requesting
                        arbitration and describing your claim to Audaxware LLC.
                    </p>

                    <h3>15. Languages</h3>

                    <p class="MsoNormal">
                        Any translation of this Agreement is done for local
                        requirements and in the event of a dispute between the English and any
                        non-English version, the English version of this Agreement shall govern. The
                        parties hereby confirm that they have requested that this Agreement and all related
                        documents be drafted in English.
                    </p>

                    <h3>16. General</h3>

                    <p class="MsoNormal">
                        This Agreement is the entire agreement between you and Audaxware
                        and replaces all prior understandings, communications and agreements, oral or
                        written, regarding its subject matter. If any court of law, having the
                        jurisdiction, rules that any part of this Agreement is invalid, that section
                        will be removed without affecting the remainder of the Agreement. The remaining
                        terms will be valid and enforceable. You cannot assign or transfer ownership of
                        this Agreement. However, Audaxware may assign or transfer it without your
                        consent to (a) an Affiliate, (b) another company through a sale of assets by Audaxware
                        or (c) a successor by merger, acquisition, or other lawful transaction.
                    </p>
</md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.accept()">I Agree</md-button>
        <md-button class="md-primary" ng-click="ctrl.reject()">Reject</md-button>
    </md-dialog-actions>
</md-dialog>