<md-dialog aria-label="addManufacturer" flex-gt-xs="30">
    <md-toolbar layout="row" layout-align="center center" ng-cloak>
        Add Manufacturer
    </md-toolbar>
    <md-dialog-content layout-padding ng-cloak>
        <form name="addManufacturerForm" id="addManufacturerForm">
            <md-input-container class="md-block">
                <label>Name</label>
                <input name="manufacturer_description" ng-model="manufacturer.manufacturer_description" maxlength="100" aw-exists="{{anotherManufacturers}}" required>
                <div ng-messages="addManufacturerForm.manufacturer_description.$error">
                    <div ng-message="required">Name is required</div>
                    <div ng-message="maxlength">Only 100 characters are allowed</div>
                    <div ng-message="exists">Manufacturer name already exists in this domain</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Comment</label>
                <textarea ng-model="manufacturer.comment" name="comment" columns="1" md-maxlength="250" maxlength="250" rows="1"></textarea>
                <div ng-messages="addManufacturerForm.comment.$error" role="alert">
                    <div ng-message="md-maxlength" class="my-message">
                        Only 250 characters are allowed!
                    </div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" ng-cloak>
        <md-button class="md-primary" ng-click="close()">Close</md-button>
        <md-button class="md-primary" ng-click="add()">Add</md-button>
        <md-button class="md-primary" ng-click="add(true)">Add and Close</md-button>
    </md-dialog-actions>
</md-dialog>