<md-dialog aria-label="check_room" flex-gt-sm="80" class="all-screen">
    <md-toolbar layout="row" layout-align="center center">
        Connect Asset2
    </md-toolbar>
    <md-dialog-content layout="column" ng-cloak style="padding-bottom: 0px">
        <md-stepper id="stepper-connect-asset"
                    md-mobile-step-text="mobileStep"
                    md-vertical="false"
                    md-linear="true"
                    md-alternative="true">
            <md-step md-label="Click on a row to select the source asset to connect">
                <md-step-body style="height:{{wizardData.gridHeight+10}}px">
                    <div kendo-grid="wizardData.assetsInGrid" k-on-data-bound="dataBound(wizardData.assetsInGrid)" options="wizardData.optionsIn" k-on-edit="edit(kendoEvent)">
                    </div>
                </md-step-body>
            </md-step>
            <md-step md-label="Click on a row to select the target asset to connect">
                <md-step-body style="height:{{wizardData.gridHeight+10}}px">
                    <div kendo-grid="wizardData.assetsGrid" k-on-data-bound="dataBound(wizardData.assetsGrid)" options="wizardData.options" k-on-edit="edit(kendoEvent)">
                    </div>
                </md-step-body>
            </md-step>
            <md-step md-label="Confirmation">
                <md-step-body>
                    <section layout="column" layout-align="top center" class="gray-color" style="margin-bottom: 1em">
                        <h4>{{assetIn.asset_description}} - {{assetIn.asset_code}} will be connected to {{assetOut.asset_description}} - {{assetOut.asset_code}}.</h4>
                    </section>
                </md-step-body>
            </md-step>
        </md-stepper>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-primary" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="back()" ng-if="currentStep > 1">Back</md-button>
        <md-button class="md-primary" ng-click="next()">{{currentStep <3 ? 'Next' : 'Connect'}}</md-button>
    </md-dialog-actions>
</md-dialog>

<!--<style parse-style>
    .k-grid-content {
        max-height: {{options.height - 210}}px;
        min-height: {{options.height - 210}}px;
    }
</style>-->
