<md-dialog aria-label="copy_from" ng-cloak flex-gt-sm="90" style="height:72hv">
    <md-toolbar layout="row" layout-align="center center">
        {{action}} From
    </md-toolbar>

    <md-dialog-content layout-gt-sm="row" class="md-inline-form" ng-cloak style="height:70vh">
        <section flex-gt-sm="50" layout="column" layout-fill>
            <span>
                <h4 class="md-primary">From:</h4>
            </span>
            <section layout="row" id="autocomplete-group" layout-align-gt-sm="start" style="margin-top:-25px">

                <md-input-container class="md-block no-md-errors-spacer" flex-gt-sm="40">
                    <label>Projects</label>
                    <md-select ng-model="data.source_project_id" md-on-close="clearSearchTerm()" ng-change="getData('phase')" required md-container-class="SelectWithSearch" ng-disabled="addedRooms.length > 0">
                        <md-select-header class="select-with-search">
                            <input ng-model="searchTerm"
                                   aria-label="Search projects"
                                   type="search"
                                   placeholder="Ex. Project 123"
                                   class="select-header-searchbox md-text"
                                   ng-keydown="$event.stopPropagation()"> 
                        </md-select-header>

                        <md-optgroup label="Projects">
                            <md-option ng-repeat="proj in filteredProjects = (projects | filter:searchProjects(searchTerm) | orderBy: ['client_project_number', 'project_description'])"
                                       value="{{proj.project_id}}">
                                {{(proj.client_project_number ? proj.client_project_number + ' - ' : '') + proj.project_description}}
                            </md-option>
                        </md-optgroup>

                        <md-option ng-if="filteredProjects.length === 0" disabled>
                            No projects found matching "{{searchTerm}}".
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="40">
                    <label>Phase</label>
                    <md-select name="phases" ng-model="data.source_phase_id" ng-change="getData('department')" ng-required="params.phase_id">
                        <md-option ng-repeat="phase in phases" value="{{phase.phase_id}}">
                            {{phase.description}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="40">
                    <label>Department</label>
                    <md-select name="departments" ng-model="data.source_department_id" ng-change="getData('room')" ng-required="params.department_id">
                        <md-option ng-repeat="dpt in departments" value="{{dpt.department_id}}">
                            {{dpt.description}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </section>
            <div id="sourceGrid" class="checkbox-grid" kendo-grid="departmentsGrid" options="options" k-on-data-bound="dataBound(departmentsGrid)" style="width:100%"></div>
        </section>

        <section flex-gt-sm="10" layout-align="center center" layout-fill>
            <section layout="column" flex-gt-sm="60" style="padding-left: 30px">
                <md-button class="md-raised" aria-label="Add room" ng-click="addRoom()">
                    Add
                </md-button>
                <md-button class="md-raised" aria-label="Remove room" ng-click="removeRoom()">
                    Remove
                </md-button>
            </section>
        </section>

        <section flex-gt-sm="40" layout="column" style="margin-top:0px; margin-right:10px" layout-fill>
            <span>
                <h4 class="md-primary">To:</h4>
            </span>
            <section layout="row" id="autocomplete-group" style="margin-top:-25px">
                <md-input-container class="md-block" flex-gt-sm="35">
                    <label>Phase</label>
                    <md-select name="phases" ng-model="targetData.phase_id" ng-change="getDepartment()">
                        <md-option ng-repeat="phase in targetPhases" value="{{phase.phase_id}}">
                            {{phase.description}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="35">
                    <label>Department</label>
                    <md-select name="departments" ng-model="targetData.department_id">
                        <md-option ng-repeat="dpt in targetDepartments | filter:{phase_id: targetData.phase_id}" value="{{dpt.department_id}}">
                            {{dpt.description}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-checkbox ng-model="copy_options_colors" aria-label="default" layout-align="start center" >
                    Copy options if they exist
                </md-checkbox>
            </section>
            <div class="checkbox-grid" kendo-grid="roomsGrid" options="roomsOptions" k-on-data-bound="dataBound(roomsGrid)" style="width:100%"></div>
        </section>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="start center">
        <md-radio-group ng-model="action" ng-click="changeAction(action)" layout="row">
            <md-radio-button value="Copy" style="color: black; margin-right: 1em">Copy</md-radio-button>
            <md-radio-button value="Move" style="color: black;">Move</md-radio-button>
        </md-radio-group>
        <span flex></span>
        <md-button class="md-primary" ng-click="close()">Close</md-button>
        <md-button class="md-primary" ng-click="copy()">{{action}}</md-button>
    </md-dialog-actions>
</md-dialog>

<style>    
    .k-grid{
        height: 395px;
        padding-bottom: 10px;
    }

    .k-grid-content{
        height: 300px;
        max-height: 100%;
        min-height: 100%;
    }
</style>
